* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color1: #1a8359;
    --brand-color2: #86c337;
    --border-radius: 12px;
    --dark-grey: light-dark(#666, #aaa);
    --light-grey: light-dark(#eee, #404a59);
    --background-color: light-dark(#fff, #20252c);
    --box-shadow: 1px 1px 4px light-dark(#0000001a, #404a59);
    
    color-scheme: light dark;
}

html { scroll-behavior: smooth; }

.dark { color-scheme: dark; }

body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
}

main {
    max-width: 1300px;
    margin: auto;
}

a {
    text-decoration: none;
    color: light-dark(#000, #fff);
}
/* ----------- */

/* NAV DE MODO CLARO/OSCURO */
nav {
    width: fit-content;
    position: fixed;
    top: 2vh;
    right: 3vh;
    margin-left: auto;
    z-index: 1;

    & #themeToggle {
        border: 0;
        background: none;
        cursor: pointer;
        transition: transform .5s ease;

        & .sun { fill: light-dark(#000, transparent); }
        & .moon { fill: light-dark(transparent, #fff); }
        &:hover { transform: scale(1.2); }
    }
}
/* ----------- */

/* PARTES DE SECCIONES */
section {
    margin-bottom: 3rem;
    padding: 1rem;

    & header { margin-bottom: 1rem; }

    & h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    & h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        text-align: center;
        color: light-dark(#000, #fff);
    }

    & h3 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    & h4 {
        font-size: .9rem;
        font-weight: 400;
        color: var(--dark-grey);
    }

    & p { font-size: .9rem; }
}
/* ----------- */

/* SOBRE MI */
#sobre-mi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    /* Texto */
    & .info {
        margin-left: 4rem;

        & figure {
            width: 40px;
            background-color: #fff;
            border: 1px solid var(--light-grey);
            border-radius: 50%;
            padding: 3px 3px 0;
            margin-bottom: .5rem;

            & img { width: 100%; }
        }

        & h2 {
            text-align: left;
            font-size: 1.2rem;
            font-weight: 400;
            margin: 0;
        }

        & small { color: var(--dark-grey); }

        & p { margin-top: .5rem; }

        /* Enlaces */
        .enlaces {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            & a {
                --gradient: linear-gradient(to right, var(--brand-color1), var(--brand-color2)) border-box;
                --gradient-light: linear-gradient(var(--background-color), var(--background-color)) padding-box;
                display: inline-flex;
                align-items: baseline;
                justify-content: center;
                gap: .5rem;
                background: var(--gradient-light), var(--gradient);
                color: light-dark(#000, #fff);
                border: 2px solid transparent;
                border-radius: var(--border-radius);
                box-shadow: var(--light-shadow);
                padding: .3rem 0 .4rem;
                font-size: .8rem;
                width: 110px;

                &:hover {
                    background: var(--gradient);
                    color: #fff;
                }
            }
        }
    }

    /* Imagen */
    & .imagen-con-overlay {
        /*width: min(100%, 300px);*/
        width: 250px;
        height: fit-content;
        position: relative;
        display: inline-block;
        transform: rotate(-3deg);
        border: 8px solid var(--light-grey);
        transition: transform .6s ease-in-out .2s;

        &:hover { transform: rotate(4deg); }

        /*&::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            pointer-events: none; /* para que no bloquee clics 
        }*/

        & img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
/* ----------- */

/* PROYECTOS */
#proyectos {
    /* Filtros */
    & .filtros {
        margin: 2rem .2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        & button {
            background-color: transparent;
            border: 2px solid var(--light-grey);
            border-radius: var(--border-radius);
            padding: .5rem .8rem;
            font-size: .8rem;
            cursor: pointer;

            &.checked {
                background-color: var(--brand-color2);
                color: #fff;
            }
        }
    }

    & .oculto { display: none; }

    /* Grid de proyectos */
    & .destacados {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        justify-content: center;

        & article {
            box-shadow: var(--box-shadow);
            background: color-mix(in srgb, var(--light-grey), transparent 65%);
            padding: 1rem;
            text-align: center;

            &:hover { box-shadow: 1px 1px 4px var(--brand-color2); }

            /* Foto proyecto */
            &:hover img { opacity: 1; }

            & img {
                width: 100%;
                aspect-ratio: 16 / 9;
                object-fit: cover;
                opacity: .7;
                transition: opacity 1s ease;
            }

            /* Texto */
            & header { margin: .5rem; }
            & p { margin-bottom: 1rem; }

            /* Tecnologías */
            & .tecnologias { display: none; }

            /* Enlaces */
            & footer {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1rem;

                & a {
                    border: 1px solid var(--light-grey);
                    border-radius: var(--border-radius);
                    padding: .25rem .75rem;
                    font-size: .8rem;
                    color: var(--dark-grey);

                    &:hover { box-shadow: var(--box-shadow); }
                }
            }
        }
    }

    /* Flecha arriba */
    & .arriba {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        & a {
            color: #fff;
            background-color: var(--brand-color1);
            box-shadow: 1px 1px 4px #404a59;
            border: none;
            border-radius: 50%;
            padding: .5rem .75rem;
            cursor: pointer;
            animation: bounce 1.5s infinite;

            &:hover { background-color: var(--brand-color2); }
        }
    }
}
/* ----------- */

/* ANIMACIONES */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
}