* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color1: #1A8359;
    --brand-color2: #86C337;
    --brand-color3: #bff2de;

    --black: #20252c;
    --grey: light-dark(#666, #ccc);
    --background-color: light-dark(#fff, var(--black));
    --text-color1: light-dark(var(--black), #f0f2f4);
    --text-color2: var(--grey);
    
    --light-grey: #aaaaaa80;
    --box-shadow: 1px 1px 4px var(--light-grey);
    --border-radius: 12px;
    
    color-scheme: light dark;
}

html { scroll-behavior: smooth; }

.dark { color-scheme: dark; }

body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color1);
    background-color: var(--background-color);
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: var(--text-color1);
}

p, span { font-size: 14px; }

ul, ol { list-style: none; }

.hidden { display: none; }
/* ----------- */

/* LIGHT/DARK MODE TOGGLE */
#headerThemeToggle, #mobileThemeToggle {
    border: 0;
    background: none;
    cursor: pointer;
    transition: transform .5s ease;

    & .sun { fill: light-dark(#000, transparent); }
    & .moon { fill: light-dark(transparent, #fff); }
}

header .virginiadevs-logo { filter: brightness(0.5); }
.dark header .virginiadevs-logo { filter: brightness(0.1) invert(1); }
/* ----------- */

/* HEADER & FOOTER */
header, footer {
    & figure {
        --size: 48px;
        width: var(--size);
        height: var(--size);

        & .virginiadevs-logo {
            width: 100%;
        }
    }
}

/* HEADER */
header {
    padding: 10px 20px 80px;
    margin-bottom: 1.5rem;
    background:
        linear-gradient(to bottom,  
            color-mix(in srgb, var(--background-color), transparent 100%) 0%, 
            color-mix(in srgb, var(--background-color), transparent 50%) 45%, 
            color-mix(in srgb, var(--background-color), transparent 20%) 70%,
            color-mix(in srgb, var(--background-color), transparent 0%) 100%),
        linear-gradient(to right, var(--brand-color1), var(--brand-color2));

    & .header-content {
        display: flex;
        align-items: center;
        justify-content: center;

        & #headerThemeToggle {
            display: none;
        }

        & #headerMenu {
            display: none;
        }
    }
}

/* FOOTER */
footer {
    margin: 0 1.5rem 3rem;
    padding: 60px 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 10px;
    
    & .signature {
        justify-self: flex-start;
        & p { font-size: 12px; }
    }

    & .social-links {
        justify-self: flex-end;

        & .list-item:hover a { color: light-dark(var(--brand-color1), var(--brand-color2)); }
    }
}
/* ----------- */

/* MOBILE MENU */
#mobileMenu {
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    background: color-mix(in srgb, var(--brand-color3), transparent 65%);
    backdrop-filter: blur(10px);
    padding: .7rem .1rem .5rem;
    z-index: 5;

    & .mobile-menu-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    
        & a {
            font-size: 13px;
            font-weight: 500;
        }

        & button {
            margin-top: 2px;
        }

        & .active {
            color: light-dark(var(--brand-color1), var(--brand-color2));
        }
    }
}
/* ----------- */

/* REPETING CODE */
section {
    margin: 2rem 0;
    
    & + section { border-top: 1px solid var(--light-grey); }
    
    & .subtitle {
        margin: 5px 0 10px;
        color: var(--text-color2);
        font-size: 12px;
        text-align: right;
    }

    & .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        & h3 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        & .separator {
            width: 30px;
            margin-top: 5px;
            border-bottom: 5px solid light-dark(var(--brand-color1), var(--brand-color2));
            border-radius: var(--border-radius);
        }
    }

    & h4 {
        font-size: 1rem;
    }
}

.icon-box {
    --size: 45px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--border-radius);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 10px;
}
/* ----------- */

/* MAIN CONTENT */
main {
    margin: .5rem 1.5rem 0;
}

/* Section: ABOUT ME */
#sobre-mi {
    display: flex;
    flex-direction: column;

    & .about-info {

        & h2 {
            font-weight: 600;
            color: light-dark(var(--brand-color1), var(--brand-color2));
            margin: -5px 0 5px;
        }

        & > span {
            color: var(--text-color2);
        }

        & p {
            margin: .5rem 0 1rem;
        }
    }

    & .social-links {
        gap: 1rem;
    
        & .list-item a .icon-box {
            --gradient: linear-gradient(to right, var(--brand-color1), var(--brand-color2)) border-box;
            --gradient-light: linear-gradient(var(--background-color), var(--background-color)) padding-box;
            background: var(--gradient-light), var(--gradient);
            border: 2px solid transparent;
            box-shadow: var(--box-shadow);
            width: fit-content;
            height: fit-content;
            padding: 7px 10px;
            gap: 5px;

            &:hover {
                background: var(--gradient);
                color: #fff;
            }
        }
    }

    & .about-img {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & figure {
            width: 220px;

            & img {
                width: 100%;
            }
        }
    }
}

/* Section: PORTFOLIO */
#portafolio .filter-list {
    display: flex;
    gap: 1rem;
    padding-left: 5px;
    margin: 1.2rem 0 1rem;

    & .filter-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    
        &:hover { text-decoration: underline; }
    }

    & .active {
        color: light-dark(var(--brand-color1), var(--brand-color2));
        font-weight: 600;
        text-decoration: none;
    }
}

#portafolio .featured {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;

    & article {
        display: flex;
        flex-direction: column;

        &:hover img {
            transform: scale(1.1);
        }

        & .project-img {
            width: 100%;
            height: 200px;
            border-radius: var(--border-radius);
            overflow: hidden;
            max-width: 300px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform .5s ease-in-out;
            }
        }

        & h4 {
            margin: 10px 0 0 5px;
        }

        & .keywords { display: none; }

        & .links {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin: 8px 0 0 5px;

            & a {
                font-size: 12px;
                color: var(--text-color2);
            }
        }
    }

    & .hidden {
        display: none;
    }
}


/* Section: CURRICULUM */
/* Skills */
#cv .skill-list {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: .5rem;
    justify-items: center;
    align-items: baseline;

    & .skill-item {
        width: 70px;
    
        & img {
            width: 100%;
        }
    }

    & .skill-item:last-child {
        width: 80px;
    }
}

/* Experience & education */
#cv .timelines, .timeline {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

#cv .timelines {
    gap: 2rem;
}

#cv .timeline {
    height: fit-content;

    & .timeline-header {
        display: flex;
        align-items: center;
        gap: 12px;

        & .icon-box {
            --size: 35px;
            width: var(--size);
            height: var(--size);
            background: var(--background-color);
            box-shadow: 1px 1px 2px var(--light-grey);
            z-index: 1;
        }
    }

    & .timeline-item {
        display: flex;
        gap: 1rem;
        position: relative;

        &:not(:last-child)::before {
            content: "";
            position: absolute;
            top: -20px;
            left: 17px;
            width: 1px;
            height: calc(100% + 40px);
            background: var(--light-grey);
        }

        &::after {
            content: "";
            position: absolute;
            height: 7px;
            width: 7px;
            left: 14px;
            top: 8px;
            background: light-dark(var(--brand-color1), var(--brand-color2));
            border-radius: 50%;
            box-shadow: 0 0 0 4px color-mix(in srgb, var(--brand-color3), transparent 65%);
        }

        & .timeline-content {
            margin-left: 48px;
            flex: 1;

            & .timeline-title h5 {
                font-size: 14px;
                font-weight: 600;
            }

            & .timeline-title span {
                font-size: 12px;
                color: var(--text-color2);
            }
        }
    }
}

/* Section: CONTACT */
#contacto .contact-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 450px;
    margin-inline: auto;

    & figure img {
        width: 100%;
        border-radius: var(--border-radius);
    }

    & .contact-message {
        margin-top: 1rem;

        & p {
            margin-bottom: 1rem;
            padding: 0 10px;
        }

        & span {
            font-size: 20px;
            line-height: 1;
        }

        & .action-btn {
            display: flex;
            justify-content: center;
            margin-top: 2rem;

            padding: 12px 0 14px;
            font-size: 1rem;
            font-weight: 500;
            background: linear-gradient(to right, var(--brand-color1), var(--brand-color2));
            color: #fff;
            border-radius: var(--border-radius);
            box-shadow: 2px 2px 6px var(--light-grey);

            max-width: 200px;
            margin-inline: auto;

            &:hover {
                background: linear-gradient(to left, var(--brand-color1), var(--brand-color2));
            }

            &.disabled {
                pointer-events: none;
                cursor: not-allowed;
                background: var(--background-color);
                color: var(--light-grey);
                box-shadow: var(--box-shadow);
            }
        }

        & figure {
            text-align: center;
            display: none;

            & .working-hours {
                width: 100px;
                position: relative;
                z-index: -1;
                margin-top: -10px;
            }
        }
    }
}