@media (width < 900px) {
    section { margin-bottom: 2rem; }

    /* SOBRE MI */
    #sobre-mi {
        grid-template-columns: 1fr;
        gap: 3rem;

        /* Texto */
        & .info { margin: 0 5vw 0 10vw; }
    }
}

@media (width < 480px) {
    /* SOBRE MI */
    #sobre-mi {
        
        /* Texto */
        & .info { margin: 0; }
    }
}