@media (width >= 480px) {
    main {
        margin: 2.5rem;
        margin-bottom: 4rem;
    }

    #mobileMenu .mobile-menu-list {
        gap: 1.5rem;
    }

    footer {
        margin-inline: 2.5rem;
    }
}

@media (width >= 768px) {
    header {
        padding-bottom: 120px;

        & .header-content {
            display: grid;
            grid-template-columns: 1fr 70px 1fr;
            justify-items: center;
            margin-inline: 2rem;

            & #headerThemeToggle {
                display: flex;
                align-self: center;
                justify-self: flex-start;
            }

            & #headerMenu {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                font-size: 13px;
                justify-self: flex-end;

                & a:hover { text-decoration: underline; }
            }
        }
    }

    main {
        margin: 4rem;

        & #mobileMenu {
            display: none;
        }
    }

    section {
        margin: 3rem 0;
    }

    #about {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    #portfolio .featured article .project-img {
        height: 100%;
    }

    #cv .skill-list { justify-content: space-evenly; }

    #cv .timelines {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #contact .contact-content {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        max-width: 680px;
        margin-inline: auto;
    }

    footer {
        margin-inline: 4rem;
        margin-bottom: 0;
    }
}

@media (width >= 1024px) {
    main {
        margin-bottom: 2rem;
    }

    #cv .timelines {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        max-width: 974px;
        margin-inline: auto;
    }
}

@media (width >= 1250px) {
    header .header-content, main, footer {
        max-width: 1200px;
        margin-inline: auto;
    }
}