@media (width < 900px) {
    /* SOBRE MI */
    #sobre-mi {
        grid-template-columns: 1fr;

        /* Texto */
        & .texto {
            margin: 0 5vw 0 10vw;
        }
    }
}

@media (width < 480px) {
    /* SOBRE MI */
    #sobre-mi {
        
        /* Texto */
        & .texto {
            margin: 0;
        }
    }
}