---
import Section from "@/components/Section.astro"
import Social from './Social.astro'
---
<Section>
    <footer>
        <Social />
    </footer>
</Section>

<style>
    footer {
        margin-block: 5rem -7rem;
        padding-block: 2rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-content: center;
        border-top: 1px solid #dadada;
    }

    @media (max-width: 700px) { 
        footer { margin-bottom: -5rem; }    
    }
</style>