---
import Layout from "@/layouts/base.astro";
import { basics } from "@/data/cv.json";

import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Extra from "@/components/sections/Extra.astro";
import Footer from "@/components/sections/Footer.astro";
import Header from "@/components/sections/Header.astro";
import Hero from "@/components/sections/Hero.astro";
import Langs from "@/components/sections/Langs.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";

const { name, label } = basics;
---

<Layout title=`${name} | ${label}`>
	<main>
		<Header />
		<Hero />
		<Experience />
		<Skills />
		<Projects />
		<Education />
		<Langs />
		<Extra />
		<Footer />
	</main>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

	@media (width < 600px) {
		main { padding: 2rem; }
    }
</style>
